@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+SC:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';


body {
    font-family: "Alumni Sans SC", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}